:root {
  --primary: hsl(217, 99%, 26%);
  --gray: hsl(217, 11%, 64%);
  --white: hsl(216, 100%, 95%);
  --highlight: rgba(251, 255, 38, 0.493);
}

body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "header header"
    "nav card"
    "footer footer";
  gap: 20px;
  padding: 20px;
}

.header {
  background-color: var(--primary);
  color: var(--white);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: header;
}

.header__title {
  font-size: 3rem;
  margin: 0;
  font-family: 'Pacifico', cursive;
}

.nav {
  grid-area: nav;
}

.nav__container {
  box-shadow: var(--gray) 4px 4px 10px 2px;
  display: grid;
  row-gap: 24px;
  grid-template-columns: 1fr;
  min-width: 200px;
  justify-items: center;
  padding: 12px 0 24px;
}

.nav__link, .nav__link--active {
  text-decoration: none;
  color: var(--primary);
  position: relative;
}
.nav__link::after, .nav__link--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -90px;
  border-bottom: var(--primary) 1px solid;
  width: 180px;
}

.nav__link--active {
  box-shadow: inset var(--highlight) 200px 0px 0px 1px;
  padding: 0 70px;
}

.img_card {
  width: 300px;
  box-shadow: var(--gray) 4px 4px 10px 2px;
  border-radius: 3px;
}

.img_card__container {
  grid-area: card;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-auto-rows: 350px;
  gap: 50px;
  align-items: center;
  justify-items: center;
}

.img_card__img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.img_card__text {
  padding: 0 12px;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: footer;
}

@media screen and (max-width: 1100px) {
  .header__title {
    font-size: 2rem;
  }
  .nav__container {
    width: 80vw;
    min-width: 300px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .nav__link, .nav__link--active {
    text-decoration: underline;
  }
  .nav__link--active {
    padding: 0;
  }
  .nav__link::after, .nav__link--active::after {
    display: none;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header"
      "nav"
      "card"
      "footer";
  }
}